<%- include("partials/header") %>
<link rel="stylesheet" href="/styles/terminal.css" />
<script src="/scripts/terminal.js"></script>
<body onload="init('<%= JSON.stringify(config) %>')">
	<div id="text"></div>
	<div id="input"><p>f</p></div>
</body>
<%- include("partials/footer") %>
